<a href="https://colab.research.google.com/github/nguyenhuy2601k-oss/huynguyen261.github.io/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101

In [75]:
%%writefile first.cpp
#include <iostream>
using namespace std;

int main() {
    int a = 27, b = 6, c;
    c = a % b;
    cout << "The value of c is " << c << "." << endl;
    return 0;
}

Overwriting first.cpp

In [76]:
!cat first.cpp
print("-"*50)

print('Compile...')
!gcc first.cpp -o first
!ls

print("-"*50)
print('Execute...')
!./first

#include <iostream>
using namespace std;

int main() {
    int a = 27, b = 6, c;
    c = a % b;
    cout << "The value of c is " << c << "." << endl;
    return 0;
}
--------------------------------------------------
Compile...
/usr/bin/ld: /tmp/ccRsCQoj.o: warning: relocation against `_ZSt4cout' in read-only section `.text'
/usr/bin/ld: /tmp/ccRsCQoj.o: in function `main':
first.cpp:(.text+0x31): undefined reference to `std::cout'
/usr/bin/ld: first.cpp:(.text+0x39): undefined reference to `std::basic_ostream<char, std::char_traits<char> >& std::operator<< <std::char_traits<char> >(std::basic_ostream<char, std::char_traits<char> >&, char const*)'
/usr/bin/ld: first.cpp:(.text+0x49): undefined reference to `std::ostream::operator<<(int)'
/usr/bin/ld: first.cpp:(.text+0x5e): undefined reference to `std::basic_ostream<char, std::char_traits<char> >& std::operator<< <std::char_traits<char> >(std::basic_ostream<char, std::char_traits<char> >&, char const*)'
/usr/bin/ld: first.cpp:(.text+0x65): undefined reference to `std::basic_ostream<char, std::char_traits<char> >& std::endl<char, std::char_traits<char> >(std::basic_ostream<char, std::char_traits<char> >&)'
/usr/bin/ld: first.cpp:(.text+0x70): undefined reference to `std::ostream::operator<<(std::ostream& (*)(std::ostream&))'
/usr/bin/ld: /tmp/ccRsCQoj.o: in function `__static_initialization_and_destruction_0(int, int)':
first.cpp:(.text+0xa7): undefined reference to `std::ios_base::Init::Init()'
/usr/bin/ld: first.cpp:(.text+0xc2): undefined reference to `std::ios_base::Init::~Init()'
/usr/bin/ld: warning: creating DT_TEXTREL in a PIE
collect2: error: ld returned 1 exit status
first.cpp  first.py  sample_data
--------------------------------------------------
Execute...
/bin/bash: line 1: ./first: No such file or directory

In [77]:
%%writefile first.py
a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)

Overwriting first.py

# Ngôn ngữ lập trình

In [78]:
from IPython.display import display

In [79]:
print("Hello, World")

Hello, World

In [80]:
display("Hello, World")

'Hello, World'

In [81]:
'''
comment
'''
#comment

'\ncomment\n'

In [82]:
# indent
score = 80
if score >=60:
  print("Pass")
  pass # dummy

Pass

In [83]:
# variable
x = 2
price =2.5
word = "Hello"
world = """

SyntaxError: incomplete input (ipython-input-2671092952.py, line 5)

In [ ]:
x = True #bool
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

In [87]:
x = str(3) # x will be '3'
y = int(3.5) # y will be 3
z = float(3) # z will be 3.0
print(list(range(6))
print(set[1,2,34,5,6,7,7,3,5,5])

print(x, type(x))
print(y, type(y))

SyntaxError: '(' was never closed (ipython-input-3947995920.py, line 4)

In [88]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

### Arithmentric operating

In [89]:
'''
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

'\nOperator Name Example\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [90]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [91]:
# Bolean: True / False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

$$bmi=\frac{w}{h2}$$

In [94]:
#Tính toán BMI
height = 170
weight = 62.5
#process
height_m = height/100
bmi = weight/(height_m**2)
#output
print("Your BMI is: "+str(round(bmi,1)))

Your BMI is: 21.6

In [95]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [98]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + r) ** n)
print('Your FV is = ', round(fv, 2))

Your FV is =  194.87

In [102]:

# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [111]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20, "class" : "KTLT"} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))


x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[-1:-3])
print(x[1:3])
print(x[1:])
print(x[:3])

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20, 'class': 'KTLT'} <class 'dict'>
{'banana', 'cherry', 'apple'} <class 'set'>
4
60
70
90
[]

In [115]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[-1:2])
print(x[1:3])
print(x[1:])
print(x[:3])
print(x[::-1])

4
60
70
90
[]
[70, 80]
[70, 80, 90]
[60, 70, 80]
[90, 80, 70, 60]

In [119]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
print(animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))
animals.add("cat")
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
{'dog', 'cat'}
{'fish', 'dog', 'cat'}
True
3
3
2

In [127]:
s="Hôm nay là thứ hai"
print(list(s), len(s))
print(set(list(s)), len(set(list(s))))

['H', 'ô', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'à', ' ', 't', 'h', 'ứ', ' ', 'h', 'a', 'i'] 18
{'ô', 'm', 'n', 'a', 'ứ', 'i', ' ', 'h', 't', 'H', 'y', 'à', 'l'} 13

In [129]:
k = {'EN':"English", 'FR':"French"}
print(k['EN'])

English

In [132]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)

colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)

person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'dog', 'cat'}
{'name': 'Tom', 'age': 20}

In [134]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20

### Kết thúc